h2 {
  font-size: 2rem;
  text-align: center;
  padding: 2vw 0;
  color: $headers-color;
  font-family: 'Calligraffitti', cursive;
  @media #{$mobile} {
    font-size: 1.5rem;
    padding: 15vw 0vw;
  }

}

.book-list {
  padding: 0 5vw 2vw 5vw;
  @media #{$mobile} {
    padding: 0 0 2vw 0;
  }
}